---
import Hero from '../components/Hero.astro';
---

<html lang="nl">
    <head>
        <meta charset="utf-8" />
        <title>Kerem’s Astro pagina</title>
    </head>
    <body style="font-family: system-ui; padding: 2rem;">
        <Hero />
        <p>Test, test,</p>
    </body>
</html>
